<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="home-nav">
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
    </div>
   

    <h1 class="tituloSeccion">Bienvenid@ a la web de tributo a Andrés Iniesta</h1>

    <div class="imagenesPortada">
        <img src="/andres1.jpg" alt="Andrés Iniesta guapo" width="500px">
        <!-- <img src="/andres2.jpg" alt="Andrés Iniesta chutando a gol" width="500px"> -->
    </div> 

    <hr>
    <footer>
        <p id="footerParrafo">
            Página desarrollada por Andrea Sánchez y Pablo Orozco.
        </p>
    </footer>
   

    

</body>
</html>