<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="home-nav">
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
    </div>

    <h1 class="tituloSeccion">Highlights de la carrera de Andrés</h1>

    <h2>Comienza su carrera deportiva en el Albacete Balompié</h2>
    <p class="texto">
        Andrés Iniesta, con ocho años, fue inscrito en las pruebas de acceso de las categorías inferiores del Albacete Balompié. Tras superar dichas pruebas, ingresó en el primer equipo de benjamines del club manchego. <br>
        <div class="imagenesPortada">
            <img src="/andrespequeño.jpg" alt="Andresito" width="500px">
        </div>
        
    </p>

    <h2>Se hace una estrella mundial en el Barcelona F.C.</h2>
    <p class="texto">
        Debuta a las órdenes de Louis Van Gaal en un partido de Champios League contra el Brujas. Durante 16 años juega a las órdenes de Antic, Rijkaard, Vilanova, Guardiola, Luis Enrique siendo una pieza fundamental del equipo para todos ellos. Durante esta época gana el primer Sextete de la historia del fútbol  <br>
        
        <div class="imagenesPortada">
            <img src="/andresbarca.jpg" alt="Andresito" width="500px">
        </div>
        
    </p>

    <h2>Sus últimos años de fútbol los pasa en el Vissel Kobe </h2>
    <p class="texto">
        Los japoneses ni la huelen, solo pueden mirar como toca la bola D.Andrés y comprar su vino "Corazón Loco" <br>
        <div class="imagenesPortada">
            <img src="/andreskobe.jpg" alt="Andresito" width="500px">
        </div>
        
        
    </p>


    <hr width="50%">
    <footer>
        <p id="footerParrafo">
            Página desarrollada por Andrea Sánchez y Pablo Orozco.
        </p>
    </footer>


</body>
</html>